page-home {

}
.app-font ion-label{
    white-space: inherit;
  }

  .app-font-top ion-title{
    white-space: inherit;
  }

.img {
    text-align: center;

}

.center {
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;
    padding: 10px;
}